In [7]:
from pyspark import SparkContext, SparkConf, SQLContext

conf = SparkConf() \
    .setAppName("test_mongoToMySQL1") \
    .setMaster("spark://spark-master:7077") \
    .set("spark.mongodb.input.uri", "mongodb://root:1234@mongodb2:27017/newsDB.kid_chosun?authSource=admin") \
    .set("spark.jars", "/opt/workspace/jars/bson-4.0.5.jar, \
                        /opt/workspace/jars/mongo-spark-connector_2.12-3.0.1.jar, \
                        /opt/workspace/jars/mongodb-driver-core-4.0.5.jar, \
                        /opt/workspace/jars/mongodb-driver-sync-4.0.5.jar, \
                        /opt/workspace/jars/mysql-connector-java-8.0.21.jar")


sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)
spark = sqlContext.sparkSession

22/02/21 16:36:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [8]:
df = spark.read.format("mongo").load()

In [9]:
df.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- news_article: string (nullable = true)
 |-- news_author: string (nullable = true)
 |-- news_date: string (nullable = true)
 |-- news_img_path: string (nullable = true)
 |-- news_source: string (nullable = true)
 |-- news_subtitle: string (nullable = true)
 |-- news_title: string (nullable = true)
 |-- news_url: string (nullable = true)

In [10]:
df.show(3)

+--------------------+--------------------------------+--------------------------------+----------------+--------------------+--------------+-------------------------------+--------------------------------+--------------------+
|                 _id|                    news_article|                     news_author|       news_date|       news_img_path|   news_source|                  news_subtitle|                      news_title|            news_url|
+--------------------+--------------------------------+--------------------------------+----------------+--------------------+--------------+-------------------------------+--------------------------------+--------------------+
|{61feab713256e3b6...|인공지능 해례본上 ▷ 스스로 생...|                     신현주 기자|2022-01-28 00:01|http://kid.chosun...|어린이조선일보|                               |[세종 쌤이 들려주는 신기한 기...|http://kid.chosun...|
|{61feab713256e3b6...|   가로 1번   정도가 작은[小]...|소나 속뜻사전교육출판사 편집팀장|2022-02-04 00:01|http://kid.chosun...|어린이조선일보|오늘은 특별히 24절기(節氣)를...|                    설 낱말 퍼즐|http://kid.chosun...|
|{61feab713256e3b6...|연이와 버들 도령 백희나 글·그...|                       오누 기자|2022-01-27 00:01|http://kid.chosun...|어린이조선일보|                               |     [한줄읽기] 연이와 버들 도령|http://kid.chosun...|
+--------------------+--------------------------------+--------------------------------+----------------+--------------------+--------------+-------------------------------+--------------------------------+--------------------+
only showing top 3 rows

In [11]:
print(df.count())

1758

In [12]:
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import col
df_filtered = df \
    .withColumn('news_date', regexp_replace('news_date', '\.', '-')) \
    .withColumn('news_date', (col('news_date').cast('date'))) \
    .filter(col('news_date') >= '2022-01-01') \
    .select('news_title', 'news_date', 'news_source', 'news_url')

In [13]:
df_filtered.count()

308

In [14]:
df_filtered.write.format('jdbc') \
    .mode('append') \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("url", "jdbc:mysql://mysql2:3306/newsDB?serverTimezone=UTC&useSSL=false") \
    .option("dbtable", "news_title") \
    .option("user", "root") \
    .option("password", "1234") \
    .save()

In [15]:
sc.stop()
spark.stop()